body {
    margin: 0;
}

p {
    display: block !important;
    margin: 0px !important;
    border: 0px !important;
    padding: 0px !important;
}

/* Fonts */

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Kalam";
    src: url("../fonts/Kalam-Regular.ttf") format("truetype");
}

/* ========== Scrollbar Styles ========== */

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: hsl(20, 6%, 15%);
}

html::-webkit-scrollbar {
    width: 15px;
    background-color: hsl(20, 6%, 15%);
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: hsl(13, 89%, 50%);
}

/* ========== Portfolio globals ========== */

.portfolio-logo-absolute {
    position: absolute;
    padding: 3vw 0 0 3vw;
    width: 8vw;
}

.portfolio-background {
    background-color: hsl(42, 21%, 72%);
    color: hsl(20, 6%, 15%);
    height: 100%;
}

.content-container {
    padding: 15vh 15%;
}

.content-html-tag-font {
    font-size: 3vw;
    font-family: 'Kalam', cursive;
}

/* .logo-loading {
  width: 30vw;
}

.logo-loading-container {
  height: 70vh;
  width: 70vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* ========== Welcome content ========== */

.welcome-content {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.welcome-font {
    font-size: 3.5vw;
    font-family: 'Montserrat', sans-serif;
}

.welcome-words {
    padding: 0 0 0 3vw;
}

.welcome-image {
    position: absolute;
    width: 17vw;
    padding: 0 6vw 0 51vw;
}

/* ========== Projects content ========== */

.projects-content {
    
}

/* ========== Skills content ========== */

.skills-content {
    
}

/* ========== About content ========== */

.about-content {
    
}

/* ========== Contact content ========== */

.contact-content {
    
}

/* ========== Footer ========== */

.portfolio-footer-container {
    text-align: center;
    font-size: 1.2vw;
    background-color: hsl(13, 89%, 60%);
    color: hsl(20, 6%, 15%);
    padding: 1% 0;
    font-family: Verdana, sans-serif;
}

/* ========== Animations ========== */

.fade-in-right-to-left {
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.fade-in-left-to-right {
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-delay: 1.25s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.logo-fade-in {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate(10vw, 0);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate(-7.5vw, 0);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Breathing animation */

/* .logo-loading-breathing {
  animation: breath 3s linear;
  animation-fill-mode: forwards;
  opacity: 1;
} */

/* @keyframes breath {
  0%   { 
    width: 30vw;
    opacity: 1; 
  }
  20% { 
    width: 35vw;
    opacity: 1; 
  }
  40% { 
    width: 30vw;
    opacity: 1; 
  }
  60%   { 
    width: 35vw;
    opacity: 1;
  }
  80%   { 
    width: 30vw;
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
} */

/* Highlight text color */

::selection {
    background-color: hsl(13, 89%, 60%);
    color: #fff;
}
