body {
  margin: 0;
}

/* ========== Scrollbar Styles ========== */

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: hsl(20, 6%, 15%);
}

html::-webkit-scrollbar {
  width: 15px;
  background-color: hsl(20, 6%, 15%);
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: hsl(13, 89%, 50%);
}

/* ========== Portfolio globals ========== */

.portfolio-logo-absolute {
  position: absolute;
  padding: 3vw 0 0 3vw;
  width: 8vw;
}

.portfolio-background {
  background-color: hsl(42, 21%, 72%);
  color: hsl(20, 6%, 15%);
  height: 100%;
}

.content-container {
  padding: 15vh 15%;
}

.logo-loading {
  width: 30vw;
}

.logo-loading-container {
  height: 70vh;
  width: 70vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========== Welcome content ========== */

.welcome-content-height {
  /* border: 2px solid hsl(13, 89%, 54%); */
}

.welcome-content {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.welcome-font {
  font-size: 3vw;
  font-family: 'Montserrat', sans-serif;
}

/* ========== Projects content ========== */

.projects-content {

}

/* ========== Skills content ========== */

.skills-content {

}

/* ========== About content ========== */

.about-content {

}

/* ========== Contact content ========== */

.contact-content {

}

/* ========== Footer ========== */

.portfolio-footer-container {
  text-align: center;
  font-size: 1.2vw;
  background-color: hsl(13, 89%, 60%);
  color: hsl(20, 6%, 15%);
  padding: 1% 0;
}

/* ========== Animations ========== */

.fade-in-right-to-left {
	animation-name: fadeInRight;
  animation-duration: 1s;
  animation-delay: 3.25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.logo-loading-breathing {
  animation: breath 3s linear;
  animation-fill-mode: forwards;
  opacity: 1;
}

.logo-fade-in {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 4.25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes breath {
  0%   { 
    width: 30vw;
    opacity: 1; 
  }
  20% { 
    width: 35vw;
    opacity: 1; 
  }
  40% { 
    width: 30vw;
    opacity: 1; 
  }
  60%   { 
    width: 35vw;
    opacity: 1;
  }
  80%   { 
    width: 30vw;
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
}

@keyframes fadeInRight {
  from {
  	opacity: 0;
    transform: translate(10vw,0);
  }
  to {
 	  opacity: 1;
  }
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	  opacity: 1;
  }
}

/* Highlight text color */

::selection {
  background-color: hsl(13, 89%, 60%);
  color: #fff;
}